<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Form đăng ký</title>
</head>
<body>
<h2>Form đăng ký</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
  First Name: <input th:field="*{firstName}"/> <br/>
  <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

  Last Name: <input th:field="*{lastName}"/> <br/>
  <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

  Phone Number: <input th:field="*{phoneNumber}"/> <br/>
  <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>

  Age: <input type="number" th:field="*{age}"/> <br/>
  <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

  Email: <input th:field="*{email}"/> <br/>
  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

  <button type="submit">Đăng ký</button>
</form>
</body>
</html>
